/* TestCSS.css */
/* créee par Mélanie Clément */
/* 22 avril 2020 */

body{
    background: url("../media/background.jpeg") no-repeat center;
    background-color: aquamarine;
    margin: auto;
}



h1,p{
    color:red
}
h1{
    font-size: 5em;
}
img{
    width: 5%
}

p{
    text-align:center;

}

a:hover {
    color:blue;
}

