/* style.css*/
/* Fait par Mélanie Clément*/
/*Le 20 mai 2020*/

body{
    font-family:'Comfortaa',cursive;
}

.hamburger i{
    color:white;
}

#lieu{
    background: url("../img/abonnement.jpg") no-repeat center;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 150px;
    opacity: 0.75;
    padding-bottom: 40rem;

}
#test{
    background: url("../img/services_numeriques_biblio (1).jpg") no-repeat center;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 150px;


}
#Propos{
    background: url("../img/BANNIERE-Bibliotheque.jpg") no-repeat center;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 150px;
}
#service{
    background: url("../img/ServiceNumerique.jpg") no-repeat center;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 150px;
}
hr {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
    border-width: 3px;
    border-color: #74a324;
}

#deux
{
    background: coral;
    padding: 75px
}

#trois{
    padding: 75px
}

#trois p{
    color: grey;
}
i {
    color:black;

}

#serviceEnLigne{
    background: #005cbf;
}
img{
    height: 300px;
    width: 100%;
    margin: 0;
}

.bottom{
    background-color: #005cbf;
    border: none;
    color: white;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px
}

p{
    text-align: center;
    font-weight: normal;
    font-size: 20px;
}



/****************************/

.navbar{
    background-color: black;
    height: 10rem;
}

.nav-link{
    color: white;
}

.fas, .fa-bars{
    color:black;
}


i, a{
    color:white;
}

.liste{
    list-style: none;
}

#coordonnees{
    background-color: rgba(255, 193, 7, 0.73);
    padding:30px;

}

#horraire{
    background-color: rgba(40, 167, 69, 0.74);
    padding:30px;
}

footer{
    background-color: black;

}

/****************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.display-container {
    margin: auto;
    display: flex;
}

.note-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
}

.circle {
    position: relative;
}

.circle__svg {
    transform: rotate(-90deg);
}

.circle__progress {
    fill: none;
    stroke-width: 3;
    stroke-opacity: 0.3;
    stroke-linecap: round;
}

.circle__progress--fill {
    --initialStroke: 0;
    --transitionDuration: 0;
    stroke-opacity: 1;
    stroke-dasharray: var(--initialStroke);
    stroke-dashoffset: var(--initialStroke);
    transition: stroke-dashoffset var(--transitionDuration) ease;
}

.note-display:nth-child(1) .circle__progress { stroke: #AAFF00; }
.note-display:nth-child(2) .circle__progress { stroke: #FF00AA; }
.note-display:nth-child(3) .circle__progress { stroke: #AA00FF; }
.note-display:nth-child(4) .circle__progress { stroke: #00AAFF; }

.percent {
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
    transform: translate(-50%, -50%);
}

.percent__int { font-size: 28px; }
.percent__dec { font-size: 12px; }

.label {
    font-family: 'Raleway', serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 15px;
}

.rapport ul, .rapport li{
    border-left: 0.25rem solid #74a324;
    padding: 0 0 0 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left:5rem;
    list-style: none;
    overflow: hidden;
}

/***********/
table{
    border-collapse: collapse;
}
th,td{
    border: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;

}
th{
    background: rgba(127, 255, 0, 0.66);
    padding-right: 100px;
}

#carteGeographique{
    background: #e4606d;
}

iframe{
    height: 20rem;

}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .7s ease;
    transition: .7s ease;
}

.container:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.text {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}