/* style.css*/
/* Fait par Mélanie Clément*/
/*Le 27 mai 2020*/

.fondRouge
{background-color: red;
    height: 100px;

}

.fondBleu
{background-color: blue;
    height: 100px;
}

.fondVert
{background-color: green;
    height: 100px;
}

.fondJaune
{background-color: yellow;
    height: 100px;

}

.moi .John . Bo . Jane .Anja
{ width: 100px;
    height: 100px;
}