/* style.css*/
/* Fait par Mélanie Clément*/
/*Le 23 avril 2020*/


body
    {
    background: url("../img/fond.jpg") no-repeat center;
    margin: auto;
    }
h1,h2
    {
    color: darkcyan;
    margin: auto;
    }
img
    {
    width: 25%;
    }

h1
    {
    width: 36px;
    }
h2
    {
    width: 24px
    }
p
    {
     font-size:14px
    }
/* unvisited link */
a:link {
    color: blue;
}
/* visited link */
a:visited {
    color: darkblue;
}

<link rel="stylesheet" type="text/css" href="css/style.css">