/* style.css*/
/* Par Mélanie Clément*/
/*Le 16 juin 2020*/

body{
    background: black;
}

.jumbotron{
    background: white;
}
#MC{
    width: 25%;
}

.parallax {
    /* L’image du Parallax */
    background-image: url("../media/Entete.jpg");
    /* L’hauteur du Parallax */
    min-height: 500px;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#service{
    background-color: rgba(237, 237, 237,0.75);
    padding-top:5rem;
    padding-bottom:5rem;

}
#XXX{
    background-color: rgba(103, 113, 121,0.75);
    padding-top:5rem;
    padding-bottom:5rem;
    color:white;
}

#commentaire{
    margin-top:-8rem;
}

.fa-star{
    padding-bottom:2rem;
    color:#ffc107;
}
#services{
    background: url("../media/criterium.png") no-repeat center;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 100px;

}
.card-body{
    background-color: rgba(237, 237, 237);
}
.card-header{
    background-color: #ffc107;
    color:black
}