/* style.css*/
/* Par Mélanie Clément*/
/*Le 15 juin 2020*/

.parallax{
    /* L’image du Parallax */
    background-image: url("../media/image1.jpg");
    /* L’hauteur du Parallax */
    min-height: 100px;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
}

.zone1 h1{
    background-color: rgba(60,60,60,0.5);
    color:white;
}
.jaune p{
    background-color:rgba(255,255,0,.75);

}

.technique{
    background-color: rgba(255,255,255,.75)
}

.zone2 h1 {
    background-color: rgba(60, 60, 60,0.9);
    color: white;
}
.parallax2 {
    /* L’image du Parallax */
    background-image: url("../media/image2.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
}
.section2{
    color:white;
}
.parallax3 {
    /* L’image du Parallax */
    background-image: url("../media/image3.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
}
.parallax4 {
    /* L’image du Parallax */
    background-image: url("../media/image4.jpg");
    /* L’hauteur du Parallax */
    height: 100%;
    /* Création de l’effet */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10rem;
}
.question{
    background-color: #1e7e34;
}

.people{
    background-color: #c69500;
}
.argent{background-color: #e4606d;
}
.fas{
   size:50rem;
}